nav {
  margin: 2rem auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signInButton,
.logoutButton {
  font-weight: 500;
  color: #3d63e2;
  border: solid 0.15rem #3d63e2;
  border-radius: 0.6rem;
  padding: 0.2rem 1.2rem 0.2rem 1.2rem;
  transition: all 0.3s;
}

.signInButton:hover,
.logoutButton:hover {
  background-color: #3d63e2;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

